---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<Place_TOKEN>&language=zh-TW&query=WHO%27S%E5%96%9C%E8%B1%A1CAFE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "business_status" : "CLOSED_PERMANENTLY",
                 "formatted_address" : "300台灣新竹市東區寶山路438號300",
                 "geometry" : {
                    "location" : {
                       "lat" : 24.7847091,
                       "lng" : 120.9901702
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.78616667989272,
                          "lng" : 120.9915314798927
                       },
                       "southwest" : {
                          "lat" : 24.78346702010727,
                          "lng" : 120.9888318201073
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/cafe-71.png",
                 "icon_background_color" : "#FF9E67",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/cafe_pinlet",
                 "name" : "WHO'S CAFE",
                 "permanently_closed" : true,
                 "photos" : [
                    {
                       "height" : 3468,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/101154546347312496566\"\u003e芸漀吳\u003c/a\u003e"
                       ],
                       "photo_reference" : "AcYSjRid_PXhRH8kppNKCIaRsZGoDfYjNJNxVW_ECZoANmf5e2y0LyCHmhzWbiVaLBJGKw1Xdt4Ft607E7At07LoMgGIJiKXEP0fCgfkocsoeCGJT-dA2bmpQTXtaqoRTpTMDrgOzmIUI8nxYWU6VX-8mu51NCq0_Hhf6fGp8Rw9ZCYVskl9",
                       "width" : 4624
                    }
                 ],
                 "place_id" : "ChIJnyawAAc2aDQRsweZWTh80d8",
                 "plus_code" : {
                    "compound_code" : "QXMR+W3 東區 新竹市",
                    "global_code" : "7QP2QXMR+W3"
                 },
                 "rating" : 4.3,
                 "reference" : "ChIJnyawAAc2aDQRsweZWTh80d8",
                 "types" : [ "cafe", "food", "point_of_interest", "establishment" ],
                 "user_ratings_total" : 52
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 23 Oct 2022 04:08:37 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<Place_TOKEN>&language=zh-TW&query=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [],
           "status" : "INVALID_REQUEST"
        }
  recorded_at: Sun, 23 Oct 2022 05:35:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=&language=zh-TW&query=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 23 Oct 2022 05:36:16 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=&language=zh-TW&query=WHO%27S%E5%96%9C%E8%B1%A1CAFE
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 23 Oct 2022 06:34:29 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=<Place_TOKEN>&language=zh-TW&query=ARTROOM14%E8%97%9D%E5%AE%A4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
         [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/textsearch/json?key=&language=zh-TW&query=ARTROOM14%E8%97%9D%E5%AE%A4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
           "html_attributions" : [],
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Mon, 31 Oct 2022 15:20:20 GMT
recorded_with: VCR 6.1.0
